*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-galery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    padding: 5px;
    gap: 5px;
}

.item-galery {
    position: relative;
}

.item-galery .img-galery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.l-1{
    grid-row: span 1;
}

.l-2{
    grid-row: span 2;
}


.c-1 {
    grid-column: span 1;
}

.c-2 {
    grid-column: span 2;
}

/* @media (min-width: 1024px) {
    .container-galery {
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 150vh;
        }
} */

@media (max-width: 768px){
    .container-galery {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 50vh;
    }

    .l-2{
        grid-row: span 1;
    }

    .c-2{
        grid-auto-columns: span 1;
    }
    
}