body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(223, 215, 215);
    
}

div{
    border: 1px solid blueviolet;
    /*flex: 1;*//*fração*/
    width: 50px;
}

.container {
    background: lightblue;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}