body {
  background-color: rgb(218, 210, 210);
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px calc(100vh - 450px) 300px 50px;
}

header {
  background-color: rgb(158, 223, 248);
  grid-column:1/3 ;
}

nav {
  background-color: lightcoral;
  grid-column: 2/3;
  grid-row: 2/3;
}

aside {
  background-color: lightgreen;
  grid-column: 2/3;
  grid-row: 3/4;
}
main {
    background-color: lightgoldenrodyellow;
    grid-column: 1/2;
    grid-row: 2/4;
}
footer {
    background-color: lightpink;
    grid-column:1/-1;
    
}